[submodule "libretro-common"]
	path = src/api/libretro-common
	url = https://github.com/libretro/libretro-common.git
[submodule "src/api/UDynLoad"]
	path = src/api/UDynLoad
	url = https://github.com/QuarkTheAwesome/UDynLoad.git
[submodule "src/api/dynamic_libs"]
	path = src/api/dynamic_libs
	url = https://github.com/Maschell/dynamic_libs
