# Mac OS dust. I can't really help with the Extended HFS attribute files (._filename, 4KB), just don't use NTFS/FAT ;D

.DS_Store
.Trashes
*.swp

# Project-specific stuff

build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf
/.cproject
/.project
/URetro.elf.wiiload.gz
/URetro.idb
